.main {
  max-width: 40em;
  margin: 0 auto;
  padding: 16px;
  line-height: 1.7;
}

.info {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4px 16px;
  padding: 16px;
  background: #f3f4f6;
  border-radius: 8px;
}

.info dt {
  font-weight: bold;
}

.info dd {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .info {
    background: #1f2937;
  }
}
